{% extends 'base.html' %}
{% block Title %}
            listar cvs
        {% endblock Title %}
{% block content %}
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Description</th>
      <th scope="col">deposits</th>
        <th scope="col">Withdrawls</th>
        <th scope="col">Balance</th>
    </tr>
  </thead>
  <tbody>
  {% if lis_csv %}
  {% for cvs in object_list  %}
    <tr>
      <th scope="row">1</th>
      <td>{{ cvs.date }}</td>
      <td>{{ cvs.description }}</td>
        <td>{{ cvs.deposits }}</td>
      <td>{{ cvs.withdrawls }}</td>
      <td>{{ cvs.balance}}</td>
    </tr>
    <tr>
  </tbody>
    {% endfor %}
    {% else %}
    no fount
    {% endif %}
</table>
{% endblock %}