{% extends 'base.html' %}
{% block Title %}
    listar xls
{% endblock Title %}
{% block content %}
    <div class="container m-5">
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">Region</th>
                <th scope="col">Country</th>
                <th scope="col">Ttem type</th>
                <th scope="col">Sales chanel</th>
                <th scope="col">Order priority</th>
                <th scope="col">Order date</th>
                <th scope="col">Order id</th>
                <th scope="col">Ship date</th>
                <th scope="col">Units sold</th>
                <th scope="col">Unit price</th>
                <th scope="col">Unit cost</th>
                <th scope="col">Total revenue</th>
                <th scope="col">total cost</th>
                <th scope="col">total profit</th>
            </thead>
            <tbody>
            {% if lis_sales %}
                {% for xls in object_list %}
                    <tr>
                        <td>{{ xls.region }}</td>
                        <td>{{ xls.country }}</td>
                        <td>{{ xls.item_type }}</td>
                        <td>{{ xls.sales_chanel }}</td>
                        <td>{{ xls.order_priority }}</td>
                        <td>{{ xls.order_date }}</td>
                        <td>{{ xls.order_id }}</td>
                        <td>{{ xls.ship_date }}</td>
                        <td>{{ xls.units_sold }}</td>
                        <td>{{ xls.unit_price }}</td>
                        <td>{{ xls.unit_cost }}</td>
                        <td>{{ xls.total_revenue }}</td>
                        <td>{{ xls.total_cost }}</td>
                        <td>{{ xls.total_profit }}</td>

                    </tr>
                    <tr>
                    </tbody>
                {% endfor %}
            {% else %}
                no fount
            {% endif %}
        </table>
    </div>
{% endblock %}